@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PostDetailsAggregation>

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Message
        </th>
        <th>
            date of creation
        </th>
        <th>
            User
        </th>
        <th>
            Theme
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreationMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme)
            </td>
            <td>
                @if (Context.User.FindFirstValue(ClaimTypes.Sid) == item.UserId.ToString())
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>